:root {
  --back-color: #f8eee2;
}

body * {
  box-sizing: border-box;
  /* border: 0.1px solid blue; */
}

body {
  background: var(--back-color);
  font-family: "Source Serif 4", serif;
}

.main {
  width: 300px;
  margin: 30px auto;
}

.main h1 {
  font-weight: 300;
}

.container {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 12px;
}

#input-task {
  background: var(--back-color);
  font-family: "Source Serif 4", serif;
  width: 100px;
  border: 0;
  border-bottom: 2px solid maroon;
  /*padding: 5px;*/
  height: 34px;
  font-size: 16px;
  flex-grow: 1;
  /*margin-right: 5px;*/
}

#input-task:active {
  background: #fef7ee;
}

#input-task:focus {
  outline: 0;
}

#input-task:hover {
  /* border: 2px solid maroon; */
  outline: #e4c1c1 dashed 1px;
}

#add-task-button {
  height: 34px;
  background: maroon;
  color: antiquewhite;
  border: 0;
}

#add-task-button:active {
  background: hsl(0, 89%, 35%);
}

#task-list {
  list-style: none;
  padding: 0;
}

#task-list li {
  transition: 0.3s linear;
}

#task-list li.checked span {
  transition: 0.3s linear;
  text-decoration: line-through;
  color: #8c7a7a;
}

.task {
  flex-grow: 1;
  /* margin-left: 12px; */
  transition: 0.3s ease-out;
}

.task__span {
  margin-left: 12px;
}

.task__delete {
  width: 20px;
  height: 20px;
  background: maroon;
  background-image: url(iconclose.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  color: antiquewhite;
  border-radius: 50%;
}
